In [1]:
import pandas as pd
import sqlite3
# Step 2: Connect to SQLite database named 'finance.db'
conn = sqlite3.connect('finance1.db')
# Step 3: Create a cursor object
cursor = conn.cursor()
# Step 4: Execute a query to get a list of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# Step 5: Fetch all table names from the executed query
tables = cursor.fetchall()
# Step 6: Print the table names
table_names = [table[0] for table in tables]
print("Tables in the database:", table_names)
# Optional: Loop through each table and print its schema
for table in table_names:
    cursor.execute(f"PRAGMA table_info({table});")
    schema = cursor.fetchall()
    print(f"\nSchema of table {table}:")
    for column in schema:
        print(column)
# Close the connection
conn.close()

Tables in the database: ['Stocks', 'sqlite_sequence', 'StockPrices', 'economics_cpi']

Schema of table Stocks:
(0, 'stock_id', 'INTEGER', 0, None, 1)
(1, 'symbol', 'TEXT', 1, None, 0)
(2, 'company_name', 'TEXT', 0, None, 0)
(3, 'sector', 'TEXT', 0, None, 0)
(4, 'industry', 'TEXT', 0, None, 0)

Schema of table sqlite_sequence:
(0, 'name', '', 0, None, 0)
(1, 'seq', '', 0, None, 0)

Schema of table StockPrices:
(0, 'price_id', 'INTEGER', 0, None, 1)
(1, 'stock_id', 'INTEGER', 0, None, 0)
(2, 'date', 'DATE', 0, None, 0)
(3, 'open', 'REAL', 0, None, 0)
(4, 'high', 'REAL', 0, None, 0)
(5, 'low', 'REAL', 0, None, 0)
(6, 'close', 'REAL', 0, None, 0)
(7, 'volume', 'INTEGER', 0, None, 0)

Schema of table economics_cpi:
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'date', 'TEXT', 1, None, 0)
(2, 'value', 'REAL', 1, None, 0)

In [11]:
import pandas as pd
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('finance1.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT * FROM StockPrices
''')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
stockprices_df = pd.DataFrame(rows, columns=field_names)


cursor.execute('''
    SELECT * FROM Stocks
''')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

stocknames_df = pd.DataFrame(rows, columns=field_names)


# Step 9: Close the connection
conn.close()

In [12]:
merged_df = pd.merge(stockprices_df, stocknames_df, on='stock_id')

In [13]:
merged_df.head()

,price_id,stock_id,date,open,high,low,close,volume,symbol,company_name,sector,industry
0,1,1,2024-07-16,128.44,129.04,124.58,126.36,208957902,NVDA,NVIDIA Corporation,Technology,Semiconductors
1,2,1,2024-07-15,130.56,131.39,127.18,128.44,208326164,NVDA,NVIDIA Corporation,Technology,Semiconductors
2,3,1,2024-07-12,128.26,131.92,127.22,129.24,252680535,NVDA,NVIDIA Corporation,Technology,Semiconductors
3,4,1,2024-07-11,135.75,136.15,127.05,127.40,374782738,NVDA,NVIDIA Corporation,Technology,Semiconductors
4,5,1,2024-07-10,134.03,135.10,132.42,134.91,248978569,NVDA,NVIDIA Corporation,Technology,Semiconductors

In [14]:
merged_df = merged_df[['date','close', 'symbol']]

In [15]:
merged_df.to_csv('merged_df_prices.csv', index=False)

In [10]:
merged_df['symbol'].unique()

array(['NVDA', 'TSLA', 'AAPL', 'MSFT'], dtype=object)